---
const { title, link, text, creator, creatorLink } = Astro.props;
---
<div class="w-full">
    <p class="text-xl font-plex text-text group transition-all hover:text-peach duration-300 my-4">
        <b>></b>
        <a href={link} class="decoration-wavy underline underline-offset-8 transition-all hover:underline-offset-[12px]">
            <b> {title}</b>
        </a>
        
        
    </p>
    <p class="text-xl font-plex text-text my-2">
        {creator && <span class="my-20"><i>[by <a href={creatorLink} class="decoration-wavy underline underline-offset-8 hover:text-peach transition-all hover:underline-offset-[10px]">{creator}</a>]</i></span>}
        
    </p>
    <p class="text-xl font-plex text-text">{text}</p>
</div>
